{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Парк аттракционов Мир Мечты</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="header-inner">
                <div class="header-left">
                    <a href="{% url 'page1' %}" class="link-logo">
                        <img src="{% static 'images/logo.svg' %}" alt="Логотип парка Мир Мечты" class="logo" />
                        <h3 class="name">Парк аттракционов Мир Мечты</h3>
                    </a>
                </div>
                <nav class="menu">
                    <ul class="menu-list">
                        <li><a class="menu-link" href="http://127.0.0.1:8000/#GET_BUSY">Чем заняться</a></li>
                        <li><a class="menu-link" href="http://127.0.0.1:8000/#GALLERY">Галерея</a></li>
                        <li><a class="menu-link" href="http://127.0.0.1:8000/#ABOUT">О парке</a></li>
                    </ul>
                </nav>
                <div class="buy">
                    <img src="{% static 'images/Group (3).svg' %}" alt="Корзина" class="img-buy">
                    <div class="text-buttn">
                        <a href="{% url 'page4' %}" class="buttn">Купить <br>билет</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>

    <footer>
        <div class="container">
            <div class="footer-inner">
                <div class="footer-logo">
                    <div class="logo-container">
                        <img src="{% static 'images/Observation Wheel - iconSvg.co.svg' %}"
                            alt="Логотип парка Мир Мечты" class="footer-logo-img" />
                        <p class="logo-text">Мир мечты</p>
                    </div>
                </div>

                <div class="footer-contacts">
                    <div class="contact-item">
                        <h3>Наш адрес</h3>
                        <p>г. Саратов, проспект Андропова, д.1</p>
                    </div>
                    <div class="contact-item">
                        <h3>Телефон</h3>
                        <p>+7 9124106667</p>
                    </div>
                    <div class="contact-item">
                        <h3>Аттракционы</h3>
                        <p>Всего: {{ total_attractions }}</p>
                        <p>Малых: {{ small_attractions_count }}</p>
                        <p>Больших: {{ big_attractions_count }}</p>
                    </div>
                </div>

                <div class="footer-menu-one">
                    <ul>
                        <li class="footer-item"><a class="footer-link" href="#about">О парке</a></li>
                        <li class="footer-item"><a class="footer-link" href="#rules">Награды и достижения</a></li>
                        <li class="footer-item"><a class="footer-link" href="#tickets">Билетная политика</a></li>
                        <li class="footer-item"><a class="footer-link" href="#gallery">Фотоотчет</a></li>
                        <li class="footer-item"><a class="footer-link" href="#rules">Правила посещения</a></li>
                        <li class="footer-item"><a class="footer-link" href="#cafe">Кафе</a></li>
                    </ul>
                </div>

                <div class="footer-menu">
                    <ul>
                        <li class="footer-item"><a class="footer-link" href="#projects">Проект «Русские узоры»</a></li>
                        <li class="footer-item"><a class="footer-link" href="#sport">Спорт и отдых</a></li>
                        <li class="footer-item"><a class="footer-link" href="#army">Армия</a></li>
                        <li class="footer-item"><a class="footer-link" href="#reports">Фотоотчеты</a></li>
                        <li class="footer-item"><a class="footer-link" href="#contacts">Контакты</a></li>
                        <li class="footer-item"><a class="footer-link" href="#vacancies">Вакансии</a></li>
                    </ul>
                </div>
            </div>

            <div class="copyright">
                Городской парк г. Саратов © 2025 Все права защищены
            </div>
        </div>
    </footer>
</body>

</html>