{% extends "base.html" %} 
{% load static %}

{%block main%}
<div class="container">
    <section class="attebtion-playground">
        <div class="small-info">
            <ul class="small-list">
                <li class="small-item"><a href="{% url 'page1' %}" class="small1-link">Главная</a></li>
                <li class="small-item"><a href="#" class="small2-link">/Купить билет</a></li>
            </ul>
            <h2 class="small-title">Купить билет</h2>
        </div>
    </section>
    
    <section class="attention">
        <div class="body-attention">
            <div class="title-attention">
                <h4 class="attention-title">Обратите внимание</h4>
            </div>
            <div class="action">
                <div class="action-list">
                    <p class="action-text">Билет действителен только в выбранную дату</p>
                    <p class="action-text">Время работы парка развлечений: с 10:00 до 22:00</p>
                </div>
                <a href="#" class="action-btn">Правила посещения парка</a>
            </div>
        </div>
    </section>
    
    <section class="buy-billet">
        {% for billet in billet_data %}
        <div class="buy-billet-item{% if billet.type == 'pink' or forloop.counter == 2 %} pink{% endif %}">
            <img src="{% static 'images/' %}{{ billet.image }}" alt="{{ billet.title }}" class="buy-billet-images">
            <div class="head-buy-billet">
                <h5 class="title-buy-billet{% if billet.type == 'pink' or forloop.counter == 2 %} pinkii{% endif %}">{{ billet.title }}</h5>
                <p class="buy-billet-price">{{ billet.price }}</p>
            </div>
            <div class="footer-billet">
                <p class="billet-time">{{ billet.time }}</p>
                <div class="button-buy-billet{% if billet.type == 'pink' or forloop.counter == 2 %} pink-sss{% endif %}">
                    <a href="#" class="buy-btn{% if billet.type == 'pink' or forloop.counter == 2 %} pink-s{% endif %}">
                        Купить билет
                        <div class="images-buy-billet{% if billet.type == 'pink' or forloop.counter == 2 %} pink-ss{% endif %}"></div>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
{%endblock%}