{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Парк аттракционов Мир Мечты</title>
</head>

<body>
    <main class="background">
        <div class="container">
            <section class="page3">
                <div class="logIn">
                    <form action="" class="log">
                        <h1 class="log-title regis">Вход</h1>
                        <input type="text" placeholder="Ваше имя и фамилия" required class="logIn-input">
                        <input type="text" placeholder="Номер телефона или электронная почта" required
                            class="logIn-input">
                        <input type="text" placeholder="Пароль" required class="logIn-input">
                        <button class="logInt-btn">Войти</button>
                    </form>
                </div>
                <div class="registrate">
                    <form action="" class="reg">
                        <h1 class="log-title ">Зарегистрироваться</h1>
                        <input type="text" placeholder="Ваше имя и фамилия" required class="logIn-input-reg">
                        <input type="text" placeholder="Номер телефона или  электронная почта" required
                            class="logIn-input-reg">
                        <input type="text" placeholder="Пароль" required class="logIn-input-reg">
                        <button class="logInt-btn-reg">Войти</button>
                    </form>
                </div>
            </section>
        </div>
    </main>
</body>

</html>