{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Парк аттракционов Мир Мечты</title>
</head>

<body>
    <main class="background">
        <div class="container">
            <section class="page3">
                <div class="logIn">
                    <form method="POST" class="log">
                        {% csrf_token %}
                        <h1 class="log-title regis">Вход</h1>
                        {% if error_message %}
                        <div style="color: red; margin-bottom: 15px;">{{ error_message }}</div>
                        {% endif %}
                        {% if success_message %}
                        <div style="color: green; margin-bottom: 15px;">{{ success_message }}</div>
                        {% endif %}
                        <input type="email" name="email" placeholder="Электронная почта" required class="logIn-input">
                        <input type="password" name="password" placeholder="Пароль" required class="logIn-input">
                        <button type="submit" name="login" class="logInt-btn">Войти</button>
                    </form>
                </div>
                <div class="registrate">
                    <form method="POST" class="reg">
                        {% csrf_token %}
                        <h1 class="log-title ">Зарегистрироваться</h1>
                        <input type="text" name="reg_name" placeholder="Ваше имя" required class="logIn-input-reg">
                        <input type="text" name="reg_surname" placeholder="Ваша фамилия" required class="logIn-input-reg">
                        <input type="email" name="reg_email" placeholder="Электронная почта" required class="logIn-input-reg">
                        <input type="text" name="reg_phone" placeholder="Номер телефона" required class="logIn-input-reg">
                        <input type="password" name="reg_password" placeholder="Пароль" required class="logIn-input-reg">
                        <button type="submit" name="register" class="logInt-btn-reg">Зарегистрироваться</button>
                    </form>
                </div>
            </section>
        </div>
    </main>
</body>

</html>